body{
    background-image: url('Images/galaxy.jpg');
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    color:white;
    font-size: 50px;
    left:500px;
    top:0px;
    border-style: ridge;
    border-width: 10px;
    border-color: silver;
    position: fixed;
}
#gameBox{
   
    left:350px;
    top:200px;
    position:fixed;
}
#incant{
    left:500px;
    top:300px;
    position:fixed;
    color: black;
    font-size: 20px;
}
#submit{
    left:400px;
    top: 600px;
    color:white;
    position:fixed;
    
}
#agree{
    left:600px;
    top:660px;
    position:fixed;
    color:white;
    font-size: 10px;;
}