body{
    background-image: url('Images/galaxy.jpg');
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    color:white;
    font-size: 50px;
    left:600px;
    top:0px;
    border-style: ridge;
    border-width: 10px;
    border-color: silver;
    position: fixed;
}
    #cobBucks{

    text-align: center;
    background-color: white;
    font-size: 20px;;
    top:100px;
    left:100px;
    border-style: ridge;
    border-width: 5px;
    border-color: gold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    position:fixed;
    
}
#payment{
    left:900px;
    top:450px;
    font-size: 20px;
    position:fixed;
    color:white;
}

#submit{
    left:900px;
    top:600px;
    position:fixed;
}
#agree{
    left: 100px;
    top: 250px;
    position: fixed;
    color:white;
    font-size: 20px;
}